li.list-group-item {
    padding: 0;
    height: 4rem;
}
h3.userName {
    font-size: 1.4rem;
}

input.userCheckbox {
    padding-right: 1.2rem;
}
.userAvatarDiv {
    width: 6rem;
}
.checkboxContainer {
    width: 5rem;
}
.userAvatar,
.userAvatarCnt {
    height: 3.4rem;
    width: 3.4rem;
}
.alternateAvatar {
    
}